.main-page {
  display: flex;
}
.header {
  height: 5vh;
  padding: 2rem;
  background-color: #eff2f5;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #000;
}
.chat-window {
  position: relative;
  width: 70vw;
}
.messages {
  overflow-y: scroll;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
input:focus {
  border-color: #000;
}
.chat {
  background-color: #d9fdd2;
  color: #000;
  display: flex;
  align-items: center;
  margin: 0.5rem;
  width: fit-content;
  border-radius: 10px 0 10px 10px;
  align-self: flex-end;
}
.chat-field {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.send-btn {
  background-color: #eff2f5;
  padding: 1rem;
}
.text-field {
  background-color: #fff;
  border: 0;
  font-size: 1rem;
  padding: 0.8rem;
  color: #000;
  width: 90%;
  border-radius: 5px;
}

::placeholder {
  font-size: 1.1rem;
}
.send {
  position: absolute;
  bottom: 14%;
  right: 1%;
  border: 0;
  padding: 1rem 0.9rem;
  background-color: #eff2f5;
  color: #000;
  font-size: 1rem;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 0.5rem 0;
}
.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.chat-msg {
  padding: 0.1rem 1rem 0.1rem 1rem;
}
.chat-time {
  margin: 1rem 0.5rem 0.3rem 0.2rem;
  font-size: 0.7rem;

  float: right;
  padding-right: 0;
}

.css-hhvo2v-MuiListItem-root:hover {
  background-color: #eff2f5;
}

.one-chat:hover {
  border-style: none;
  border-bottom-width: 0;
}

.message-receiver {
  align-self: flex-start;
}

button:disabled,
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
